<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Community</b>Cloud</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Login to access Community Cloud Services</p>
        {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
        <form action="/users/login" method="post">
            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>


        <button type="button" class="btn btn-warning btn-block btn-flat" style="margin-top:10px;"><a href="users/register" class="text-center" style="color: white">Register for an account</a></button>

    </div><!-- /.login-box-body -->
</div>